button{

background:#804BCD;
border:none;
padding:12px 25px;
color:white;
border-radius:8px;
cursor:pointer;
font-size:16px;

}

button:hover:enabled{
opacity:0.9;
}

button:disabled{
background:#555;
color:#cfcfcf;
opacity:0.6;
cursor:not-allowed;
}

.center{
display:flex;
justify-content:center;
align-items:center;
}
