:root {
    --bg-color: #1E1E1E;
    --primary: #804BCD;
    --primary-hover: #9966e0;
    --text-color: #ffffff;
}

body {
    margin: 0;
    background: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* top bar */

.topbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:15px 30px;

    background:#0b0b0b;
}

.logo{
    font-size:24px;
    font-weight:bold;
}

button {

    background: var(--primary);
    color: white;

    border: none;
    border-radius: 8px;

    padding: 12px 20px;
    font-size: 16px;

    cursor: pointer;

    transition: background 0.2s, transform 0.1s;
}

button:hover {

    background: var(--primary-hover);
}

button:disabled {

    background: #555;
    cursor: not-allowed;
}

/* content */

main{
    padding:30px;
}

h2{
    margin-bottom:20px;
}

/* grid scenes */

.scene-grid{

    display:grid;

    grid-template-columns:repeat(auto-fill,220px);

    gap:20px;
}

/* card */

.scene-card {

    background: #2a2a2a;
    border-radius: 10px;

    overflow: hidden;

    cursor: pointer;

    transition: transform 0.2s, box-shadow 0.2s;
}

.scene-card:hover {

    transform: scale(1.05);

    box-shadow: 0 0 12px rgba(128,75,205,0.6);
}

/* thumbnail */

.scene-thumb{

    width:100%;
    height:130px;

    background:#333;

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:14px;
}

/* card info */

.scene-info{
    padding:10px;
}

.scene-title{
    font-size:15px;
    margin-bottom:4px;
}

.scene-duration{
    font-size:12px;
    color:#aaa;
}

.scene-thumb img{

    width:100%;
    height:130px;

    object-fit:cover;
}

.player-body{
    background:#000;
    color:white;
}

.player-container{
    text-align:center;
    padding:30px;
}

.video-wrapper {
    position: relative;
    width: 80%;
    /*max-width: 1200px; /* optionnel : limite la largeur max */
    margin: 0 auto;
    aspect-ratio: 16 / 9; /* ratio classique film */
    background: black;
}

.video-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: contain; /* garde les proportions */
    display: block;
}

.countdown{

    position:absolute;

    top:50%;
    left:50%;

    transform:translate(-50%,-50%);

    font-size:120px;

    font-weight:bold;

    color:red;

    pointer-events:none;
}

.controls{
    margin-top:20px;
}

.export-overlay {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    color: white;
    font-size: 24px;
    flex-direction: column;
}

.spinner {
    margin-top: 20px;
    border: 6px solid #333;
    border-top: 6px solid #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}